@font-face {
  font-family: 'Grobold';
  src: url('grobold.ttf') format('ttf');
}

@font-face {
  font-family: 'Ex Rounded';
  src: url('Ex Rounded.ttf') format('ttf');
}

@font-face {
  font-family: 'Fredoka One', cursive;
}

@font-face {
  font-family: 'Boogaloo', cursive;
}

@font-face {
  font-family: 'Itim', cursive;
}